body {
    margin: 0;
    padding: 0;
    background-image: url("home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  
  .header__nav__content {
    display: flex;
    align-items: center;
  }
  
  .header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  .nav-close-icon {
    width: 20px;
    height: 20px;
    background-color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(200, 200, 200, 0.8);
    padding: 20px;
    border-radius: 5px;
  }
  .sign-in-form input {
    display: block;
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .sign-in-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }